extends common/layout
block layout-content 
    #carouselExampleSlidesOnly.carousel.slide.mb-5(data-bs-ride="carousel")
        .carousel-inner(style="height: 650px;object-fit:contain;")
            .carousel-item.active
                img.d-block.w-100(src="/images/supplement-store.jpg", alt="...")
                .overlay
            .carousel-item
                img.d-block.w-100(src="/images/supplement-store1.jpg", alt="...")
                .overlay
            
   
            
    .container
        .row
            h2.mb-4.text-center.display-6 Recent Blog Posts
            .col
                .card.mb-3
                    .card-body
                        h5.card-title.txt_color The Division of Responsibility in Feeding
                        p.card-text.mb-2 
                            small.text-muted Published on 12/11/2023
                        p.card-text Struggling to get your children to eat? If so, you are not alone! This blog post highlights the fundamental aspects of the Division of Responsibility in feeding, its advantages, and its application in challenging food situations.
                        a(href='#', class='card-link') Read More
            
            .col
                .card.mb-3
                    .card-body
                        h5.card-title.text-blue800 The Scoop On Intermittent Fasting
                        p.card-text.mb-2 
                            small.text-muted Published on 23/10/2023
                        p.card-text You might be wondering about intermittent fasting for health, longevity and managing body weight. If you are confused about the common question, “how often should I eat?” and want the advice of a Dietitian, this article is for you. 
                        a.card-link(href='#') Read More
            
            .col
                .card.mb-3
                    .card-body
                        h5.card-title Dim Sum Stuffed Peppers
                        p.card-text.mb-2 
                            small.text-muted Published on 15/09/2022
                        p.card-text Are you a fan of dim sum and wondering how to bring it to your dinner table? Try these dim sum shrimp-stuffed green peppers that are easy to prepare and packed with incredible flavour and nutrients!
                        a.txt_color(href='#', class='card-link') Read More


