/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

header {}

.navbar-brand {
  margin-left: 20px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-nav {
  margin-right: 20px;
}

.navbar-nav a.nav-link {
  color: #363535;

}

.navbar-nav a.nav-link:hover {
  color: #060606;
}

.img_size {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

h5.card-title {
  color: rgb(250, 10, 10);
}

.card-link {
  text-align: center;
  color: rgb(250, 10, 10);
}


.img_products {
  object-fit: cover;
  height: 300px;
}

.social-icons a {
  color: #ffffff;
}