footer.bg-dark.text-light.text-center.py-5
    .container
        .row
            .col-md-4
                h5 Our Mission
                p Our mission is to provide you with the absolute best online shopping experience and the best prices for nutritional supplements in Canada.
            .col-md-4
                h5 Follow Us
                div.social-icons
                    a(href='#', target='_blank')
                        i.bi.bi-facebook
                    a(href='#', target='_blank')
                        i.bi.bi-twitter
                    a(href='#', target='_blank')
                        i.bi.bi-linkedin
                    a(href='#', target='_blank')
                        i.bi.bi-instagram
            .col-md-4
                h5 Location
                p  43, Braddock Road, Etobicoke, ON ZIPCODE-M9W 5H6

    hr.my-4

    .row
       .col-md-6.offset-md-3
        h5 Subscribe
        form
            .input-group.mb-3
                input.form-control(type='email', placeholder='Your Email', aria-label='Your Email', aria-describedby='button-addon2')
                button.btn.btn-primary(type='button', id='button-addon2') Subscribe

    hr.my-4

    p &copy; 2024 PumpUp Nutritions | All rights reserved
