// views/partials/header.pug

header
    h1#sitename PumpUp Fitness
    nav
        ul
            li
                a(href='/', class='active') Home
            li
                a(href='/products') Products
            li
                a(href='/admin') Admin
