// views/partials/header.pug

header
    h1#sitename Fitness Supplement Stores
    nav
        ul
            li
                a(href='/', class='active') Home
            li
                a(href='/products') Products
            li
                a(href='/new') Add New
